.department-wholepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.carousel-item{
    padding: 0;
    margin: 0;
}
.carousel{
    opacity: 0;
    transform: translateY(50px); /* Initially move the columns down */
    transition: opacity 0.5s, transform 0.5s;
    animation: floatUp 0.8s ease 0.5s forwards;
}
.department-content{
    margin:4rem;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.department-content-header{
    opacity: 0;
    transform: translateY(50px); /* Initially move the columns down */
    transition: opacity 0.5s, transform 0.5s;
    animation: floatUp 0.8s ease 0.5s forwards;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.department-content-header h2{
    font-size: 2rem;
    font-weight: bold;
    margin:2rem 0 2rem 0;
}
.department-content-cards{
    opacity: 0;
    transform: translateY(50px); /* Initially move the columns down */
    transition: opacity 0.30s, transform 0.30s;
    animation: floatUp 0.40s ease 0.30s forwards;
    margin: 8rem 2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}
.department-content-cards-img img{
    width: 28rem;
    height: 15rem;
    border-radius: 2rem;
    border: 1px solid #323232ac;
    box-shadow: 0.5rem 0.5rem 0.3rem #3232327e;
}
.department-content-cards-body{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin:0 5rem;
    text-align: center;
    width:40rem
}
.department-content-cards-body h3{
    color: rgba(13, 109, 253);
}
@keyframes floatUp {
    0% {
      opacity: 0; /* Start with opacity 0 (invisible) */
      transform: translatey(50px); /* Start the column 50px below its original position */
    }
    100% {
      opacity: 1; /* End with opacity 1 (fully visible) */
      transform: translatey(0); /* Float up to its original position */
    }
  }