/* Content.css */
.content-container {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 2px); /*Adjust for the navbar height */
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%, -80%);
    font-size: 24px; 
  }
  
  .overlay-text h4 {    
    font-size: 2rem; /* Adjust heading font size */
    margin-bottom: 1rem;
    color: rgb(16, 79, 175);
    text-align: center;
    font-weight: bold;
  }
  .overlay-text h1 {    
    font-size: 3rem; /* Adjust heading font size */
    margin-bottom: 1rem;
    color: rgb(13,110,253);
    text-align: center;
    font-weight: bold;
  }

  .overlay-text p {
    font-size: 1.5rem; /* Adjust paragraph font size */
    margin: 0;
    color: rgb(49, 35, 30);
    max-width: 30vw;
    text-align: center;
    font-weight: 400;
  }
  .home-content h2{
    font-weight: bold;
    text-align: center;
    margin: 4rem 4rem ;
  }
  .home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .home-content-subgroup{
    margin: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }
  .home-content-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 2rem;
    padding: 2rem;
    width:25rem;
    height: 30rem;
    border: 2px solid rgb(16, 79, 175);
  }
  .home-content-card:hover{
    background-color: rgba(13, 109, 253, 0.194);
  }
  .home-content-card h3{    
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    color: rgb(16, 79, 175);
    text-align: center;
    font-weight: bold;
  }
